---
import { Image } from "astro:assets";
import Jpg11 from "../img/11-12.jpg";
import Jpg13 from "../img/13-14.jpg";
import Jpg15 from "../img/15-16.jpg";

import Layout from "../layouts/Layout.astro";

const menuSizes = "(min-width: 1000px) 70vw, 95vw";
const menuWidths = [640, 960, 1280, 1920, 2560, 3508] as const;
---

<Layout title="Bebidas">
    <div>
        <Image
            class="meny"
            src={Jpg11}
            alt="Bebidas"
            width={Jpg11.width}
            height={Jpg11.height}
            sizes={menuSizes}
            widths={[...menuWidths]}
        />
        <Image
            class="meny"
            src={Jpg13}
            alt="Vino Blanco y Rosado"
            width={Jpg13.width}
            height={Jpg13.height}
            sizes={menuSizes}
            widths={[...menuWidths]}
        />
        <Image
            class="meny"
            src={Jpg15}
            alt="Alcoholes"
            width={Jpg15.width}
            height={Jpg15.height}
            sizes={menuSizes}
            widths={[...menuWidths]}
        />
    </div>
</Layout>

<style>
    html {
        background-color: white;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .meny {
        width: 95vw;
        height: auto;
        padding: 0;
        margin: 0;
    }
 

    /* Grid for small images: two per row when there's enough space */
    .small-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        width: 95vw;
        padding: 0;
        margin: 0 auto;
        justify-items: center;
        justify-content: center;    

    }

    .small-grid .meny {
        width: 100%;
        object-fit: contain;
    }

    @media only screen and (min-width: 1000px) {
        .meny {
            width: 70vw;
        }
        .small-grid .meny {
        width: 80%;
        object-fit: contain;
    }
    }
</style>
